/* style.css */

/* header */
.header {
    
    background-color: #00f;
    height: 90px;
    width: 100%;
    max-width: 512px;
    max-height: 120px;
    text-align: center;
    margin: 0 auto;
    line-height: 70px;
    
}



/* section */
.section_main {
    max-width: 700px;
    width: 100%;
    height: auto;
    
    margin: 0 auto;
}

.section_ttl {
    max-width: 512px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    background-color: #ffaaff;
}

.section_box {
    display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 20px; /* スキルアイコンの間隔を設定 */
  
}

.section_list {
    list-style: none;
    margin-top: 30px;
} 

/* footer */
.footer {
    background-color: #c0c0c0;
    width: 100%;
    height: 100px;
    max-height: 120px;
    line-height: 90px;
    text-align: center;
    margin-top: 80px;

}